!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 福岡市プレミアム商品券マップ
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          / The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation
          %a.navbar-brand{:href => "/"} 福岡市プレミアム商品券マップ
        / Note that the .navbar-collapse and .collapse classes have been removed from the #navbar
        #navbar
          %ul.nav.navbar-nav
            -# %li.active
            -#   %a{:href => "#"} Home
            -# %li
            -#   %a{:href => "#about"} About
            -# %li
            -#   %a{:href => "#contact"} Contact
            -# %li.dropdown
            -#   %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            -#     Dropdown
            -#     %span.caret
            -#   %ul.dropdown-menu
            -#     %li
            -#       %a{:href => "#"} Action
            -#     %li
            -#       %a{:href => "#"} Another action
            -#     %li
            -#       %a{:href => "#"} Something else here
            -#     %li.divider{:role => "separator"}
            -#     %li.dropdown-header Nav header
            -#     %li
            -#       %a{:href => "#"} Separated link
            -#     %li
            -#       %a{:href => "#"} One more separated link
          - if controller.controller_name == "places"
            = form_for Place.new, url: places_path, remote: false, html: {method: :get, class: "navbar-form navbar-left", rol: "search"} do |f|
              .form-group
                = text_field "", :keyword, value: params[:keyword], placeholder: t("views.keyword"), class: "form-control float-left"
                = f.label t("activerecord.attributes.place.category"), class: "title float-left"
                = select_tag :category, options_for_select(@categories), include_blank: true, class: "form-control float-left clear"
              = f.submit t("links.search"), class: "btn btn-default"

            %ul.nav.navbar-nav.navbar-left
              %li= paginate @places, remote: false
              
          -# %ul.nav.navbar-nav.navbar-right
          -#   %li
          -#     = link_to "About", "/about"
            -# %li
            -#   %a{:href => "#"} Contact

    = yield

    .mastfoot
      .inner
        %p
          &copy;
          = succeed " #{Date.today.year}," do
            %a{:href => "#{root_path}"} 福岡市プレミアム商品券マップ

          Data organized by
          = succeed "." do
            Crudo

          = link_to "このサイトについて", "/about"
