!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "福岡プレミアム商品券の使えるお店を地図で表示しています。", :name => "description"}
    %meta{:content => "福岡,プレミアム,商品券,地図,マップ,#{@keyword}", :name => "keyword"}
    %meta{:content => "", :name => "author"}
    %title 福岡市プレミアム商品券マップ
    = stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => true
    = javascript_include_tag 'application', "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container
        .navbar-header
          / The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation
          -# %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          -#   %span.sr-only Toggle navigation
          -#   %span.icon-bar
          -#   %span.icon-bar
          -#   %span.icon-bar
          %div.navbar-brand{data:{no_turbolink: true}}= link_to "福岡市プレミアム商品券マップ", root_path

        / Note that the .navbar-collapse and .collapse classes have been removed from the #navbar
        #navbar
          %ul.nav.navbar-nav
            -# %li.active
            -#   %a{:href => "#"} Home
            -# %li
            -#   %a{:href => "#about"} About
            -# %li
            -#   %a{:href => "#contact"} Contact
            -# %li.dropdown
            -#   %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            -#     Dropdown
            -#     %span.caret
            -#   %ul.dropdown-menu
            -#     %li
            -#       %a{:href => "#"} Action
            -#     %li
            -#       %a{:href => "#"} Another action
            -#     %li
            -#       %a{:href => "#"} Something else here
            -#     %li.divider{:role => "separator"}
            -#     %li.dropdown-header Nav header
            -#     %li
            -#       %a{:href => "#"} Separated link
            -#     %li
            -#       %a{:href => "#"} One more separated link
          - if controller.controller_name == "places"
            = form_for Place.new, url: places_path, remote: false, html: {method: :get, class: "navbar-form navbar-left", rol: "search"} do |f|
              .form-group
                = text_field "", :keyword, value: params[:keyword], placeholder: t("views.keyword"), class: "form-control float-left"
                = f.label t("activerecord.attributes.place.category"), class: "title float-left"
                = select_tag :category, options_for_select(@categories), include_blank: true, class: "form-control float-left clear"
              = f.submit t("links.search"), class: "btn btn-default"

            %ul.nav.navbar-nav.navbar-left
              %li= paginate @places, remote: false
              
            -# %ul.nav.navbar-nav.navbar-right
            -#   %li
            -#     = link_to "About", "/about"
            -#   %li
            -#     %a{:href => "#"} Contact

    .ad
      %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
        / fp-map.crudoe.com responsible
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-9916693973832627", "data-ad-format" => "auto", "data-ad-slot" => "6189909932", :style => "display:block"}
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});

    = yield

    .mastfoot
      .inner
        %p
          &copy;
          = succeed " #{Date.today.year}," do
            %a{:href => "#{root_path}"} 福岡市プレミアム商品券マップ

          Data organized by
          = succeed "." do
            Crudo

          = link_to "このサイトについて", "/about"

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-17879447-12', 'auto');
      ga('send', 'pageview');
